@import "base"

window {
	location: west;
	height: 100%;
	width: 20%;
	border-radius: 0px;
}

element {
	color: #444;
}

element.selected {
	color: white;
	background-color: transparent;
}

entry {
	background-color: transparent;
	border-radius: 0px;
	color: #444;
}




