@import "base"

window {
	location: north;
	width: 60%;
	height: 500px;
	border: 1px;
	border-color: #3BC0F0;
}

listview {
	columns: 3;
}

element {
	color: #444;
}

element.selected {
	color: white;
	background-color: transparent;
}

entry {
	background-color: transparent;
	border-radius: 0px;
	color: #444;
}




