window {
  background-color: #1d1f28;
  font-family: "Roboto";
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #4c7899;
}

#outer-box {
  border-radius: 10px;
  border: 1px solid transparent;
}

#inner-box {
  border-radius: 10px;
  border: 0px solid transparent;
}

#scroll {
  border: 0px solid transparent;
  outline: 0px solid transparent;
}

#input {
  border-radius: 10px 10px 0px 0px;
  font-size: 30px;
}

#entry {
  padding: 20px;
  padding-left: 15px;
  border-radius: 0px;
}
