@define-color text-color #BBC3C8;
@define-color d-black    #000000;
@define-color d-red      #ff5555;
@define-color d-green    #50fa7b;
@define-color d-yellow   #f1fa8c;
@define-color d-blue     #3BC0F0;
@define-color d-magenta  #ff79c6;
@define-color d-cyan     #8be9fd;
@define-color d-white    #bfbfbf;
@define-color db-black   #4d4d4d;
@define-color db-red     #ff6e67;
@define-color db-green   #5af78e;
@define-color db-yellow  #f4f99d;
@define-color db-blue    #caa9fa;
@define-color db-magenta #ff92d0;
@define-color db-cyan    #9aedfe;
@define-color db-white   #e6e6e6;

@define-color d-background #222222;
@define-color d-group-bkg rgba(0, 0, 0, 0.445);

* {
  color: @text-color;
  font-size: 16px;
}

window#waybar {
  font-family: "Fira Code", "SauceCodePro Nerd Font", sans-serif;
  background-color: @d-background;
  border-radius: 0px 0px 10px 10px;
}

window > box {
  background-color: @d-background;
  /* padding: 0px 5px; */
  border-radius: 0px 0px 10px 10px;
}

/* LEFT MODULES */
#workspaces {
  font-family: "Fira Code", "Font Awesome 6 Free Solid", "Font Awesome 6 Brands", sans-serif; 
  font-weight: 600;
}

#workspaces button {
  padding: 10px 10px;
  background: transparent;
  border: 0;
  border-radius: 0px;
  border-bottom: 3px solid rgb(71, 71, 71);
}

#workspaces button.focused {
  border-bottom: 3px solid @d-blue;
  background-color: @d-group-bkg;
}

#workspaces button.active {
  border-bottom: 3px solid @d-blue;
  background-color: @d-group-bkg;
}

#workspaces button.urgent {
  background: #12619c;
}

#mode {
  margin: 5px 10px;
  border-radius: 4px;
  border: 1px solid #333;
  padding: 1px 5px;
  background-color: rgb(71, 71, 71);
}

/* RIGHT MODULES */

#pulseaudio,
#battery,
#network,
#custom-bluetooth,
#clock,
#cpu,
#memory,
#custom-weather,
#custom-scythe.active {
  background-color: @d-group-bkg;
  padding: 0px 10px;
  margin: 5px 0px;
}

/*  Left Side "Module" Edges */
#custom-bluetooth,
#custom-weather,
#cpu,
#custom-scythe.active,
#idle_inhibitor {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Right Side "Module" Edges */
#clock,
#battery,
#memory,
#custom-scythe.active,
#idle_inhibitor {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 5px;
}

#network {
  padding-left: 5px;
}

#custom-bluetooth {
  color: #007ff5;
}

#battery {
  color: @text-color;
}

#battery.charging {
  color: @d-green;
}

#battery.warning {
  color: @d-yellow;
}

#battery.critical {
  color: @db-red;
}

#idle_inhibitor {
  padding: 0px 10px;
  margin: 5px;
  padding-right: 15px;
  transition: 0.3s ease;
  background-color: transparent;
  color: grey;
}

#idle_inhibitor.activated {
  color: @d-cyan;
  background-color: @d-group-bkg;
}

#tray {
  margin-right: 5px;
}

#tray > .active {
  opacity: 0.7;
}

#tray > .needs-attention {
  opacity: 1;
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color: #c9545d;
}

#custom-launcher {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
  opacity: 1;
  border-bottom: 3px solid rgb(71, 71, 71);
  border-bottom-left-radius: 5px;
}
