element alternate.normal {
    background-color: @normal-background;
    text-color:       @normal-foreground;
}

element alternate.urgent {
    background-color: @urgent-background;
    text-color:       @urgent-foreground;
}

element alternate.active {
    background-color: @active-background;
    text-color:       @active-foreground;
}
