@import "base"



* {
	font: "SauceCodePro Nerd Font 50";
}

window {
	location: east;
	width: 160px;
	height: 539px;
	border: 3;
	border-color: @highlight;
	border-radius: 10px 0px 0px 10px;
}

inputbar {
	enabled: false;
}
