@import "base"

* {
	font: "SauceCodePro Nerd Font 50";
}

window {
	location: east;
	width: 160px;
	height: 646px;
	border: 3;
	border-radius: 10px 0px 0px 10px;
}

element.selected {
	background-color: #3BC0F0;
}

inputbar {
	enabled: false;
}
