@import "colors.css";

@define-color d-group-bkg rgba(0, 0, 0, 0.445);

* {
  color: @base07;
  font-size: 16px;
}

window#waybar {
  font-family: "Fira Code", sans-serif;
  background-color: @base00;
  /* border-radius: 0px 0px 10px 10px; */
}

window > box {
  background-color: @base00;
  /* padding: 0px 5px; */
  border-radius: 0px 0px 10px 10px;
}

/* LEFT MODULES */
#workspaces {
  font-family: "Fira Code", sans-serif; 
  font-weight: 600;
}

#workspaces button {
  padding: 10px 10px;
  background: transparent;
  border: 0;
  border-radius: 0px;
  border-bottom: 3px solid rgb(71, 71, 71);
}

#workspaces button.focused {
  border-bottom: 3px solid @base0D;
  background-color: @d-group-bkg;
}

#workspaces button.urgent {
  background: @base08;
}

#mode {
  margin: 5px 10px;
  border-radius: 4px;
  border: 1px solid @base02;
  padding: 1px 5px;
  background-color: rgb(71, 71, 71);
}

/* RIGHT MODULES */

#pulseaudio,
#battery,
#network,
#custom-bluetooth,
#clock,
#cpu,
#memory,
#custom-weather,
#custom-scythe.active {
  background-color: @d-group-bkg;
  padding: 0px 10px;
  margin: 5px 0px;
}

/*  Left Side "Module" Edges */
#custom-bluetooth,
#custom-weather,
#cpu,
#custom-scythe.active,
#idle_inhibitor {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Right Side "Module" Edges */
#clock,
#battery,
#memory,
#custom-scythe.active,
#idle_inhibitor {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 5px;
}

#network {
  padding-left: 5px;
}

#custom-bluetooth {
  color: #007ff5;
}

#battery {
  color: @base07;
}

#battery.charging {
  color: @base0B;
}

#battery.warning {
  color: @base0A;
}

#battery.critical {
  color: @base0F;
}

#idle_inhibitor {
  padding: 0px 10px;
  margin: 5px;
  padding-right: 15px;
  transition: 0.3s ease;
  background-color: transparent;
  color: grey;
}

#idle_inhibitor.activated {
  color: @base0C;
  background-color: @d-group-bkg;
}

#tray {
  margin-right: 5px;
}

#tray > .active {
  opacity: 0.7;
}

#tray > .needs-attention {
  opacity: 1;
}

#custom-recorder {
  font-size: 18px;
  margin: 2px 7px 0px 7px;
  color: @base08;
}

#custom-launcher {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 15px;
  opacity: 1;
  border-bottom: 3px solid rgb(71, 71, 71);
  border-bottom-left-radius: 5px;
}
