configuration {
    show-icons:false;
    location: 0;
    xoffset: -25;
    yoffset: 50;   
}
 

* {
    font: "Inconsolata Bold 20", "Iosevka Nerd Font 20";
}
 
/* background 0 */
window {
  children: [ listview ];
  width: 400px;
  height: 425px;
  background-color: #222222;
  border-radius: 5px;
}


#listview {
  layout: vertical;
  lines: 1;
}

#element {
  padding: 25px 20px 25px 20px;
}

